/* CSS Document */



header
{
  grid-area: header;
}

nav {
  grid-area: menu;
}
main {
  grid-area: main;
}
section {
  grid-area: section;
}
footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer section';
  grid-gap: 10px;
  background-color: Black;
  border-radius: 10px;
  padding: 10px;
}

.grid-container > main,.grid-container > nav,.grid-container > header,.grid-container > footer {
  background: -webkit-linear-gradient(white, lightgrey, lightBlue);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

header > nav
{
      /* Style the links inside the navigation bar */
  nav {
    float: left;
    color: cornflowerblue;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
    font-size: 21px;
  }
}
      /* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: cornflowerblue;
}

section {
  background-color: darkkhaki;
}

h1 {
      /*This is to make the h1 tags colored with a gradient*/
  font-size: 40px;
  background: -webkit-linear-gradient(MidnightBlue, Navy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h2 {
      /*This is to make the h2 tags colored with a gradient*/
  font-size: 25px;
  background: -webkit-linear-gradient(MidnightBlue, Navy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
p {
      /*This is to make the h2 tags colored with a gradient*/
  font-size: 15px;
  background: -webkit-linear-gradient(MidnightBlue, Red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
      /*This is to add round corners to all img's*/
img{
  border-radius: 30px;
}



      /*This document has been programed by Owen Julian John Piksen*/
